.blue-paragraph24 {
    color: blue;
    background-color: #ffa500;
    font-size: 25px;
}

#orang-paragraph24 {
    color:green;
    background-color:wheat;
    font-size: 25px;
}
* {
    color:blueviolet;
}
.border-text {
    border: 2px solid red;
}
span{
    font-weight: bold;
    color:blue;
}

.big-font{
    font-size: large;
}
.green-bg{
    background-color: green;
}
.white-text {
    color: white;
}
.bold-text{
    font-weight: bold;
}