body {
    background-color: blanchedalmond;
}
h1 {
    color: white
}
.text {
    color:blue;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}